---
- hosts: oracle_db_servers
  become: true
  vars:
    oracle_user: oracle
    grid_user: grid
    oracle_base: /u01/app/oracle
    oracle_home: /u01/app/oracle/product/19.0.0/db_1
    grid_home: /u01/app/19.0.0/grid
    oracle_grid_zip: /share/LINUX.X64_193000_grid_home.zip

  tasks:




    - name: Create DATA disk group (EXTERNAL redundancy)
      shell: "/u01/app/19.0.0/grid/bin/asmca -silent -createDiskGroup -diskString '/dev/oracleasm/disks/*' -diskGroupName DATA -diskList '/dev/oracleasm/disks/DATADISK1' -redundancy EXTERNAL -au_size 4"
      become: yes
      become_user: grid
      register: data_dg_result

    # - name: Check if DATA disk group creation was successful
    #   async_status:
    #     jid: "{{ data_dg_result.ansible_job_id }}"
    #   register: job_result
    #   until: job_result.finished
    #   retries: 30

    - name: Create FRA disk group (EXTERNAL redundancy)
      shell: "/u01/app/19.0.0/grid/bin/asmca -silent -createDiskGroup -diskString '/dev/oracleasm/disks/*' -diskGroupName FRA -diskList '/dev/oracleasm/disks/FRADISK1' -redundancy EXTERNAL -au_size 4"
      become: yes
      become_user: grid

      register: fra_dg_result

    # - name: Check if FRA disk group creation was successful
    #   async_status:
    #     jid: "{{ fra_dg_result.ansible_job_id }}"
    #   register: job_result
    #   until: job_result.finished
    #   retries: 30